@import "tailwindcss";
@import 'remixicon/fonts/remixicon.css';


body {
  font-family: 'Poppins', sans-serif;
}

.color-1 {
  background-color: #9AA6B2;
}
.color-white
{
background-color: #F8FAFC;
}
.color-2
{
background-color: #BCCCDC;
}
.color-3
{
background-color: #D9EAFD;
}